/* Variables */

:root {
  --white: rgba(255, 255, 255, 0.786);
  --header-background-color: rgb(141, 141, 141);
  --black: rgb(0, 0, 0);
  --header-shadow-color: rgb(80, 80, 80);
  --header-hover-shadow: rgb(119, 119, 119);
  --logo-shadow-color: rgb(160, 160, 160);
  --links: rgb(0, 26, 196);
  --visited-links: rgb(5, 103, 110);
  --active-links: rgb(72, 156, 121);
  --fadedgold: rgba(250, 224, 66, .45);
  --gold: rgb(250, 224, 66);
  --brown: rgb(124, 90, 11);
  --fadedbrown: rgba(250, 224, 66, .2);
  --lightgrey: rgb(211, 211, 211);
}

/* Common Styling */

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--white);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Header and Navbar Styling */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 1.5rem;
  padding: 0;
}

.navbar {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Rye', cursive;
  color: var(--white);
}

.navbar-brand {
  color: var(--white);
}

.navbar-brand:hover {
  color: whitesmoke;
}

.nav-link {
  color: var(--white);
}

.nav-link:hover {
  text-decoration: underline;
  font-weight: 700;
  color: whitesmoke;
  text-shadow: 0 0 5px whitesmoke;
}

.active {
  background-color: var(--white);
}

.active:hover {
  text-decoration: underline;
  font-weight: 700;
  color: black;
  text-shadow: .5px .5px 5px var(--logo-shadow-color)
}

.navbar-toggler-icon-bg {
  color: var(--white);
}

main {
  margin-top: 1.5rem;
}