/* Variables */

:root {
  --white: rgb(255, 255, 255);
  --header-background-color: rgb(141, 141, 141);
  --black: rgb(0, 0, 0);
  --header-shadow-color: rgb(80, 80, 80);
  --header-hover-shadow: rgb(119, 119, 119);
  --logo-shadow-color: rgb(160, 160, 160);
  --links: rgb(0, 26, 196);
  --visited-links: rgb(5, 103, 110);
  --active-links: rgb(72, 156, 121);
  --fadedgold: rgba(250, 224, 66, .45);
  --gold: rgb(250, 224, 66);
  --brown: rgb(124, 90, 11);
  --fadedbrown: rgba(250, 224, 66, .2);
  --lightgrey: rgb(211, 211, 211);
}

/* Common Styling */

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--white);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Header and Navbar Styling */

/* header {
  text-align: center;
} */

.navbar {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Rye', cursive;
}

.navbar-brand img {
  width: 60px;
}

@media screen and (min-width: 992px) {
  .navbar-brand img {
    width: 80px;
  }

  .nabar-brand {
    margin-right: 0;
    /* padding: 0 1em; */
  }
}

.navbar-nav {
  align-items: center;
}

.navbar .navbar-nav .nav-link {
  font-size: 2em;
  padding: .5em 1em;
}