/* --------------------- */
/* ----- Variables ----- */
/* --------------------- */

:root {
  --link-color: rgb(104, 142, 255);
  --link-hover-1: rgb(164, 187, 254);
  --link-hover-2: rgb(250, 185, 90);
  --header-color: rgb(196, 135, 84);
  --background-color: rgb(48, 45, 34);
  --background-color-2: rgb(245, 245, 245);
  --background-dark: rgb(33, 37, 41);
  --primary-text-color: rgb(165, 145, 111);
  --text-shadow-dark: rgb(0, 0, 0);
  --text-shadow-light: rgb(142, 141, 141);
  --div-trans-bg-img: rgb(86, 87, 91);
  --div-stop-bg-color: rgba(255, 199, 125, 0.253);
  --div-stop-bl: rgb(82, 83, 87);
  --div-stop-br: rgb(48, 49, 51);

  /* --header-color: rgb(255, 115, 0); */
  /* --background-color: rgba(0, 164, 252, 0.233); */
  /* --primary-text-color: rgb(255, 187, 110); */
}





/* -------------------------- */
/* ----- Common Styling ----- */
/* -------------------------- */

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-family: 'Lato', sans-serif; */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
  
}

a {
  color: var(--link-color);
  transition: transform .3s ease;
}

a:hover {
  color: var(--link-hover-1);
  transform: scale(1.5);
}





/* ------------------------------------- */
/* ----- Header and Navbar Styling ----- */
/* ------------------------------------- */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  font-size: 1.3rem;
  z-index: 100;
}

.navbar {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Rye', cursive;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  text-shadow: .5px .5px 5px var(--text-shadow-light);
}

.navbar-brand {
  font-size: 1.5rem;
  transition: transform .5s ease;
}

.brand-small-screen {
  display: none;
}

.brand-large-screen {
  display: show;
}

@media (max-width: 400px) {
  .brand-small-screen {
    display: show;
  }

  .brand-large-screen {
    display: none;
  }
}

.nav-link {
  transition: transform .3s ease;
}

@media screen and (max-width: 360px) {
  .navbar-brand {
    font-size: 1rem;
    vertical-align: middle;
  }
}

.nav-link:hover, .navbar-brand:hover {
  font-weight: bolder;
  transform: scale(1.08);
}

.active-navbar {
  text-decoration: underline;
  font-weight: bolder;
}

.active:hover {
  text-decoration: underline;
  font-weight: 700;
  text-shadow: .5px .5px 5px var(--text-shadow-light);
}




/* ----------------------------------------- */
/* ----- Footer and Social Media links ----- */
/* ----------------------------------------- */

footer {
  text-shadow: 1px 1px 10px var(--text-shadow-dark);
  width: 100%;
  margin-top: 1rem;
  position: absolute;
}




/* ------------------------ */
/* ----- Main Section ----- */
/* ------------------------ */

main {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw;
  margin-top: 5em;
  text-shadow: .5px .5px 4px var(--text-shadow-dark);
  margin-bottom: 1em;
  min-height: 100vh;
}

.divider {
  position: relative;
  margin-top: 50px;
  height: 1px;
  margin-bottom: 50px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, var(--div-trans-bg-img), transparent);
}

.div-stopper:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -6px;
  left: calc(50% - 7px);
  width: 14px;
  height: 12px;
  background-color: var(--div-stop-bg-color);
  border-left: 1px solid var(--div-stop-bl);
  border-right: 1px solid var(--div-stop-br);
}




/* -------------------------------------- */
/* ----- Main Page Greeting Section ----- */
/* -------------------------------------- */

.greeting-text {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Rye', cursive;
  color: var(--header-color);
  text-shadow: 2px 2px 4px var(--text-shadow-dark);
}

.iron-tusk-banner-logo {
  width: 100%;
  padding-top: 2em;
  box-shadow: 1px 1px 11px 3px var(--text-shadow-dark);
}




/* -------------------------- */
/* ----- Events Section ----- */
/* -------------------------- */

.events-section-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
}

.event-text {
  padding-left: 2em;
  padding-right: 2em;
}

.events-section-header {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Rye', cursive;
  color: var(--header-color) !important;
  text-shadow: 2px 2px 4px var(--text-shadow-dark) !important; 
}

.event-one-header {
  text-align: left;
}

.events-section-header-button {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Rye', cursive;
  color: var(--header-color) !important;
  text-shadow: 2px 2px 4px var(--text-shadow-dark) !important; 
  background-color: var(--background-color) !important;
  border-width: 0px !important;
  border-color: var(--background-color) !important;
  width: 100%;
  text-align: left;
  text-decoration: underline;
  margin-bottom: 5px;
  box-shadow: none;
}

#headingOne {
  color: var(--header-color) !important;
}

.events-header {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Rye', cursive;
  color: var(--header-color) !important;
  text-shadow: 2px 2px 5px var(--text-shadow-dark) !important;
  text-decoration: underline;
}

.event-img {
  width: 100%;
  box-shadow: .5px .5px 11px 2px var(--text-shadow-dark);
  margin-bottom: 10px;
  border-radius: 4px;
}

.trophy-img {
  max-width: 225px;
  border-radius: 3px;
  box-shadow: 2px 2px 11px 2px var(--text-shadow-dark);
}

.list-group-item {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  text-align: left;
  padding-left: 2em;
}

@media screen and (min-width: 992px) {
  .list-group-item {
    padding-left: 5em;
  }
}

.event-rules {
  max-width: 496px;
}

.event-trophy {
  max-width: 496px;
}

.event-col-1 {
  max-width: 700px;
}

.event-col-2 {
  max-width: 700px;
}

.event-accordion-item {
  background-color: var(--background-color) !important;
  border-width: 0 !important;
  border-color: var(--background-color) !important;
}

.event-accordion {
  border-width: 0 !important;
  border-color: var(--background-color) !important;
}




/* ------------------------------------- */
/* ----- Main Page Artists Section ----- */
/* ------------------------------------- */

.artists-section-header {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Rye', cursive;
  color: var(--header-color);
  text-shadow: 2px 2px 4px var(--text-shadow-dark);
}

.artist-grid-item {
  width: 460px;
  font-size: 1.7rem;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Rye', cursive;
  transition: transform .3s ease;
}

.artist-profile-main-page {
  border-radius: 50%;
  max-width: 250px;
  height: 250px;
  box-shadow: 1px 1px 11px 2px var(--text-shadow-dark);
  transition: transform .3s ease;
}

.artist-link {
  color: var(--header-color);
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Rye', cursive;
  color: var(--header-color);
  text-shadow: 1px 1px 10px var(--text-shadow-dark);
  transition: transform .3s ease;
}

.artist-link:hover {
  font-weight: bold;
  color: var(--link-hover-2);
  text-shadow: 1px 1px 10px var(--text-shadow-light);
}

.artist-profile-main-page:hover {
  box-shadow: 1px 1px 11px 2px var(--text-shadow-light)
}

.artist-grid-item:hover {
  transform: scale(1.1);
}




/* ---------------------------------- */
/* ----- Artists Work Main Page ----- */
/* ---------------------------------- */

.recent-work {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

.recent-work-header {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Rye', cursive;
  color: var(--header-color);
  text-shadow: 5px 5px 7px black;
}

.tattoo-picture {
  max-width: 320px;
  padding: 5px;
  border-style: solid;
  border-color: var(--primary-text-color);
  margin: 10px;
  background-color: var(--background-color-2);
  border-width: 5px;
  box-shadow: 2px 2px 11px 5px var(--text-shadow-dark);
  overflow: hidden;
  transition: transform .5s ease;
}

.tattoo-picture:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 11px 5px var(--text-shadow-light);
}


.main-page-work-toggle {
  transition: transform .3s ease;
  border-radius: 5px;
}

.main-page-work-toggle:hover {
  text-shadow: .1px .1px 10px 1px var(--text-shadow-light);
  transform: scale(1.05);
}

.main-page-work-toggle:before {
  content: 'Show';
}

.main-page-work-toggle[aria-expanded="true"]:before {
  content: 'Hide';
}

.work-images {
  border-width: 3px;
  border-style: solid;
  padding-bottom: 25px;
  padding-top: 25px;
}




/* -------------------------------- */
/* ----- Testimonials Section ----- */
/* -------------------------------- */

.testimonials-section {
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 600px;
}

.testimonial-carousel-wrapper {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  /* height: 600px; */
}

.testimonials-header {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Rye', cursive;
  color: var(--header-color);
  text-shadow: 5px 5px 7px var(--text-shadow-dark);
}

.carousel-inner {
  min-height:300px;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.carousel-item {
  /* min-height: 650px; */
  padding-left: 80px;
  padding-right: 80px;
}

.carousel-emphasis {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Rye', cursive;
  font-size: 1.5rem;
  text-decoration: underline;
}

.testimonial-fb-link {
  margin-top: 10px;
}

.carousel-indicators {
  margin-top: 16px;
}




/* ------------------------------------- */
/* ----- Main page contact and map ----- */
/* ------------------------------------- */

.main-page-contact-section {
  padding-top: 1em;
  padding-bottom: 1em;
}

.main-page-contact-header {
  margin-top: 0;
  color: var(--header-color);
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Rye', cursive;
}

.map-col {
  padding-left: 0;
  padding-right: 0;
  padding-top: 25px;
  max-width: 100%;
  margin: 0;
}

.google-map {
  position: relative;
  padding-bottom: 46%;
  height: 0;
  overflow: hidden;
  min-width: 280px !important;
}

.google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  min-width: 280px !important;
  padding: 0;
  margin: 0;
}

.main-page-contact-form {
  text-align: left;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form-container-inner {
  border-radius: 5px;
  margin-bottom: 0;
  padding: 25px;
  padding-right: 0;
  padding-left: 0;
}

.contact-form-container {
  padding-top: 0;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  min-width: 280px !important;
  /* max-width: 1250px !important; */
}


.main-page-contact-form {
  text-align: left;
  background-color: var(--background-dark);
  padding: 25px;
}

.main-page-contact-info {
  font-size: 1.3rem;
}

.row {
  max-width: 100%;
  margin: 0;
}



/* -------------------- */
/* ----- FAQ Page ----- */
/* -------------------- */

.faq-wrapper {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.faq-page-title {
  margin-top: 1.75em;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Rye', cursive;
  color: var(--header-color) !important;
  text-shadow: 2px 2px 5px var(--text-shadow-dark) !important;
  text-decoration: underline;
  background-color: var(--background-color) !important;
  font-size: 3rem;
}

.faq-accordion {
  border-color: orange !important
}

.faq-accordion-item {
  border-color: var(--primary-text-color);
  border-width: 2px;
  box-shadow: 0 0 20px 7px var(--text-shadow-dark)
}

.faq-header {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Rye', cursive;
  color: var(--header-color) !important;
  text-shadow: 2px 2px 5px var(--text-shadow-dark) !important;
  text-decoration: underline;
  background-color: var(--background-color) !important;
  font-size: 1.5rem;
  align-items: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}
.faq-accordion-body {
  background-color: var(--background-color) !important;
  font-size: 1.2rem;
  text-align: left;
}



/* ------------------------ */
/* ----- Contact Page ----- */
/* ------------------------ */

.contact-page-header {
  margin-top: 0;
  color: var(--header-color);
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Rye', cursive;
  margin-top: 2em;
}



/* ---------------------------- */
/* ----- Merchandise Page ----- */
/* ---------------------------- */

.merch-img {
  max-width: 420px;
  padding: 5px;
}

.merch-img-main {
  max-width: 700px;
}

.merch-page-row {
  max-width: 2000px !important;
}

.merch-page-greeting {
  font-size: 1.5rem;
  color: var(--header-color);
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Rye', cursive;
  margin-top: 5px;
}